@font-face {
  font-family: "Gotham Bold Regular";
  src: url("./fonts/GothamBoldRegular.ttf") format("truetype");
}
* {
  font-family: Gotham Bold Regular, Roboto;
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  background: linear-gradient(to bottom, rgb(41, 41, 41),rgb(10, 28, 8), rgb(128, 183, 26));
  /* background:rgb(128, 183, 26); */
}